html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #3B3A35; 
  font-family: 'Libre Baskerville', serif;
  margin:1px;
  padding:0px;
}

header {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#name {
  font-family:'Libre Baskerville', serif;
  color:#D93240;
  text-align:center;
  font-weight:450px;
  font-size:4em;
}

#picturecontainer {
  width:500px;
  height:auto;
  margin-right: auto;
  margin-left: auto;
}

#cart {
  width:500px;
  height:auto;
  margin-right: auto;
  margin-left:auto;

}

footer {
  text-align: center;
  font-weight: 200px;
  position:bottom;
  display: block;
}

#footertext {
  font-family:'Libre Baskerville', serif;
  color:#FFFFFF;
  text-align:center;
  font-weight:450px;
  font-size:20px;
  text-decoration: italic;
}

header {
  display: block;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#aboutmelink {
  color:#FFFFFF;
  text-decoration: none;
}

#experiencelink {
  color:#FFFFFF;
  text-decoration: none;
}

#myworklink {
  color:#FFFFFF;
  text-decoration: none;
}




