

body {
    font-family: GentiumBasicBold;
    font-size: 15px;
    line-height: 30;
    margin: 15px;
    border-bottom: 5px solid #222222;
    border-top: 5px solid #222222;
    padding: 50px;
    background-color: #FFFFFF;      
}
 @font-face {
    font-family:"GentiumBasicBold";
    src: url("GenBasB.ttf");
 }

 img {
    max-width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
}
header {
    height:100px;
    background:#FFFFFF;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}

div {
    width: 278px;
    height: 278px;
    padding: 3px;
    border: 6px solid black;
    margin: 0; 
}
#chair
  {
    float:left;
    margin-right: 10px;
    text-align:center;
  }
#SF
  {
    float:left;
    margin-right: 10px;
    text-align:center;
  }
#falaknuma
  {
    float:right;
    margin-right: 10px;
    text-align:center;
  }
#overla
  {
    float:right;
    margin-right: 10px;
    text-align:center;
  }

  p.social {
    text-align:center;
    color:#FFFFFF;
  }

  