html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit
}
body {
	background-color: #000;
	height:100%;
	margin:0px;
	padding:0px;
}
div#universe {
	position:absolute;
	top:100%;
	left:100%;
	transform:translate(-50%,-50%);
	height:250px;
	width:250px;
}
section#universe > div#sun {
	position:absolute;
	background-color:#FF2200;
	background-image: radial-gradient(circle at 0px 0px, #38EBFF, #FF1492);
	border-radius: 100%;
	height:100%;
	width:100%;
	z-index: 500;
	top: 0px;
	left:0px;
}
div#centeraxis {
	border: 3px solid #FFFFFF;
	position:absolute;
	height:160%;
	transform:rotate(15deg);
	top:-20%;
	left:50%;
	z-index:1;
}
section#universe > div.planet {
	border-radius:100%;
	position:absolute;
	height:15%;
	width:15%;
}
section#universe div#planet1 {
	top:50p;
	left:-100;
	background-color:#DB21B6;
  	background-image: radial-gradient(circle at 0px 0px, #38EBFF, #FF1492);
	z-index:1;
}
section#universe div#planet2 {
	background-color:#DB21B6;
	z-index:501;
	background-image: radial-gradient(circle at 0px 0px, #38EBFF, #FF1492);
}

