html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding:0px;
	margin: 0px;
	background-color:#FFF5EE;	
	font-size: 25px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    width: 80%;
    max-width: 1024px;
}

@font-face {
 	font-family:"FjordOne-Regular";
 	src: url("FjordOne-Regular.ttf");
}

header {
    margin-bottom: 16px;
    border:10px;
    background-color:#000000;
    color: #FFF5EE;
    font-size:18px;
}

h1     {
    text-align: center;
}

h5    {
    text-align: center;
    text-decoration: italic;
}

div#pic1 {
    margin-bottom: 16px;
    border: solid #000000 5px;
    background-color:#FFF5EE;
}

#mayfair {
    width:20%;  
    margin:auto;
}

div#pic2 {
    margin-bottom: 20px;
    border: solid #000000 5px;
    background-color:#FFF5EE;
}

#skull   {
    width:20%;
    margin:auto; 
}

footer {
	text-align: center;
}

p.social {
	text-align: center;
    text-underline-position: none;
}
