body {
  	font-family: GentiumBasicBold;
  	font-size: 15px;
  	line-height: 1.5;
  	margin: 15px;
  	border-bottom: 5px solid #222222;
  	border-top: 5px solid #222222;
  	padding: 50px;      
}

 @font-face {
 	font-family:"FjordOne-Regular";
 	src: url("FjordOne-Regular.ttf");
}

 @font-face {
 	font-family: "RockSalt";
 	src: url(RockSalt.ttf);
 }

#mypicture {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family:"RockSalt"; 
	text-align: left;
}

p {
 	font-family: "FjordOne-Regular"; 
	text-align: left;  
}

h3 {
	font-family: "FjordOne-Regular"; 
	text-align: left;
}

#p1 {
	text-align: left;
	font-family: "FjordOne-Regular"; 
}

h4 {
	font-family: "FjordOne-Regular"; 
	text-align: left;
}

div {
    width: 278px;
    height: 278px;
    padding: 3px;
    border: 10px solid black;
    margin: 0; 
}
p.social {
	text-align: center;
}