body {
  font-family: palatino;
  font-size: 20px;
  line-height: 1.5;
  margin: 30px;
  border-bottom: 5px solid #222222;
  border-top: 5px solid #222222;
  padding: 50px;
  background-color: white;      
}
 @font-face {
 font-family:"GentiumBasicBold";
 src: url("GenBasB.ttf");
 }
img {
	max-width: 100%;
	height: auto;
}
h1 {
	font-family: palatino; 
	text-align: left;
}
p {
 	font-family: palatino; 
	text-align: left;  
}
h3 {
	font-family: palatino; 
	text-align: left;
}
h4 {
	font-family: palatino; 
	text-align: left;
}

div {
    width: 278px;
    height: 278px;
    padding: 3px;
    border: 10px solid black;
    margin: 0; 
}