html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-image: radial-gradient(circle, #FF2244, #FF3366, #FF8811);
	padding:0;
	margin-right:30pt;
	margin-left:30pt;

}
/*@media (max-width: 200pt) {
  .box {
    display: none;
  }
} */
div.box {
	height:150pt;
	width:150pt;
	border: 3pt solid #FFFFFF;
	background-color: #645;
}
div#box1 {
	clear:both;
}
div#box2 {
	float:right;
	margin-bottom: 10pt;
}
div#box3 {
	float:right;
	clear:both;
}
div#box4 {
	margin-top: 10pt;
}
/*
div.diamond {
	height:150pt;
	width:150pt;
	border: 3pt solid #FFFFFF;
	background-color: #645;
	float:right;
	margin-right: auto;
	margin-left:auto;
} */