html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #3B3A35; 
  font-family: 'Raleway', sans-serif;
  margin:1px;
  padding:0px;
}

#paragraph1 {
  font-family: 'Raleway', sans-serif; 
  color: #D93240;
  text-align: left;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 30px;
}
