html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #3B3A35; 
  font-family:'Libre Baskerville', serif;
  margin:1px;
  padding:0px;
}

header {
  display:block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}

text#name {
  font-family:'Libre Baskerville', serif;
  color:#D93240;
  text-align:center;
  font-weight:450px;
  font-size:28px;
}

div#picturecontainer {
  width:500px;
  height:auto;
  margin-right: auto;
  margin-left: auto;
}

img#cart {
  width:500px;
  height:auto;
  margin-right: auto;
  margin-left:auto;
  display:block;
  align-content: center;

}

div.bottomnav {
  width:30%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
}

p#text a {
  font-family:'Libre Baskerville', serif;
  color:#FFFFFF;
  text-align:center;
  font-weight:450px;
  font-size:20px;
  text-decoration: none;
}

div.socialfooter i a {
  text-align: center;
}
