html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
@media {
	min-width:
}
body {
	font-family: 'Abril Fatface';
	color:#000000;
	/* background-image: url("./images/rickshaw.jpg");*/
	width:auto;
	height:auto;
	margin-left:10px;
	margin-right:10px;
}
div.name > h1 {
	text-transform: uppercase;
	text-align:left;
	font-size: 40pt;
	line-height: 2rem;
}
div.workaboutcontact {
	font-size: 20pt;
	float:right;
	text-transform: lowercase;
	text-decoration: bold;
	clear:both;
}
div.mainpicturecontainer {
	display: inline-block;
	width:670px;
	height:401px;
	/* border: 2pt solid #000; */
	background-size: cover;
	background-image: url("./images/rickshaw.jpg");
}
div.maintextblock {
	height:401px;
	width:540px;
	float:right;
	position:relative;
	border: 2pt solid #000;	
}
div.socialnavbottom {
	border: 2pt solid #000;	
	height:50px;
	width:600px;
	margin-top:35px;
	margin-left:auto;
	margin-right:auto;
}
